*.swp
*.o
*.d
cscope.out
tags
*.deps
autom4te.cache
depcomp
install-sh
missing
stamp-h1
ylwrap
libtool
ltmain.sh
.ycm_extra_conf.pyc
compile
*.libs
*.lo
*.la
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile.in
