*.swp
*.o
*.d
cscope.out
tags
*.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
missing
stamp-h1
ylwrap
m4
libtool
ltmain.sh
.ycm_extra_conf.pyc
compile
*.libs
*.lo
*.la
